<div class="page-header">
    <div class="page-title">
        <h4>Profile</h4>
        <h6>User Profile</h6>
    </div>
</div>
<!-- /product list -->
<div class="card">
    <div class="card-body">
        <div class="profile-set">
            <div class="profile-head">

            </div>
            <div class="profile-top">
                <div class="profile-content">
                    <div class="profile-contentimg">
                        <img src="assets/img/customer/customer5.jpg" alt="img" id="blah">
                        <div class="profileupload">
                            <input type="file" id="imgInp">
                            <a href="javascript:void(0);"><img src="assets/img/icons/edit-set.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="profile-contentname">
                        <h2>{{ firstname }}  {{ lastname }}</h2>
                        <h4>Updates Your Photo and Personal Details.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form [formGroup]="formGroup" class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label>Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">Phone</label>
                        <input type="text"  formControlName="phone">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control"  formControlName="username">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">Password</label>
                        <div class="pass-group">
                            <input [type]="password[1] ? 'text' : 'password' " class="pass-input form-control"  formControlName="password">
                            <span class="fas toggle-password" [ngClass]=" password[1] ? 'fa-eye' : 'fa-eye-slash'"
                                (click)="togglePassword(1)"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12">
                <a class="btn btn-submit me-2" style="color: white;" (click)="updateProfile()">Submit</a>
                <a class="btn btn-cancel" style="color: white;">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- /product list -->