

<div class="page-header">
    <p>profit&loss </p>
    
   
  <ul class="table-top-head">
    
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
      src="assets/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
      src="assets/img/icons/excel.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
      class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
      class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
    </li>
    <li>
      <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
        id="collapse-header" matTooltip="Collapse"> @if (!isCollapsed) {
        <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
        <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
    </li>
  </ul>

</div>
<div class="card table-list-card">
  <div class="card-body">      
     <div class="table-top">
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
          <div class="dataTables_filter">
            <label>
              <input [(ngModel)]="searchQuery" placeholder="Search by name" (input)="filterByName()" 
                type="search" class="form-control" placeholder="Search..." />
              </label>
            </div>
          </div>
        </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="input-blocks add-product">
          <label>From Date <span class="required-span-color">*</span></label>
          <input nz-input type="date" class="form-control" 
          [(ngModel)]="obj.fromDate" [ngModelOptions]="{standalone: true}"  />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="input-blocks add-product">
          <label>To Date <span class="required-span-color">*</span></label>
          <input nz-input type="date" class="form-control" 
          [(ngModel)]="obj.toDate" [ngModelOptions]="{standalone: true}"  />
        </div>
      </div>
      <div class="search-path">
       <div class="d-flex align-items-center">
         <a class="btn btn-filter" id="filter_search" (click)="openFilter()"
          [ngClass]="{'setclose': filter === true}">
          <i class="feather icon-filter filter-icon"></i>
          <span><img src="assets/img/icons/closes.svg" alt="img"></span>
         </a>
        </div>
     </div>
    
    </div>
        <div class="card" id="filter_inputs" [ngClass]="{'d-block': filter, 'd-none': !filter}">
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-lg-3 col-sm-6 col-12 table-sm">
                <div class="input-blocks add-product">
                  <label>Company <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.companyId"
                    [ngModelOptions]="{standalone: true}"
                    class="w-100 "
                    nzShowSearch nzAllowClear nzPlaceHolder="Select Company">
                    <nz-option nzLabel="ALL" nzValue="0"></nz-option>
                    <nz-option *ngFor="let data of getCompanies" [nzLabel]="data.name" [nzValue]="data.id"></nz-option>
                  </nz-select>
                </div>
              </div>
              
              <div class="col-lg-3 col-sm-6 col-12">
                <div>
                  <label>Branche <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.companyId"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Branche">
                    <nz-option nzLabel="ALL" nzValue="0"></nz-option>
                    <nz-option *ngFor="let u of getBranches" [nzLabel]="u.name" [nzValue]="u.id"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>Financial Year <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.financialYearId"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select year">
                    <nz-option nzLabel="ALL" nzValue="0"></nz-option>
                    <nz-option *ngFor="let f of financialYear" [nzLabel]="f.name" [nzValue]="f.id"></nz-option>
                  </nz-select>
                </div>
              </div>
              
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>ITEM <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.itemDefId"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select year">
                    <nz-option nzLabel="ALL" nzValue="0"></nz-option>
                    <nz-option *ngFor="let f of itemDefs" [nzLabel]="f.name" [nzValue]="f.id"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>CUSTMOR ACCOUNT <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.accountCode"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select year">
                    <nz-option nzLabel="All" nzValue="0"></nz-option>
                    <nz-option *ngFor="let p of parties" [nzLabel]="p.accountName" [nzValue]="p.code"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>ITEM COMPANY<span class="required-span-color">*</span></label>
                  <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                   [(ngModel)]="obj.itemCategoryId">
                    <nz-option nzLabel="ITEM" nzValue="0"></nz-option>
                    <nz-option nzLabel="WHEAT" nzValue="0"></nz-option>
                    <nz-option nzLabel="NO ITEM" nzValue="0"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>VOUCHER STATUS<span class="required-span-color">*</span></label>
                  <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                   [(ngModel)]="obj.voucherStatusId">
                    <nz-option nzLabel="BOTH" nzValue="0"></nz-option>
                    <nz-option nzLabel="1" nzValue="M"></nz-option>
                    <nz-option nzLabel="0" nzValue="S"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12 text-end" style="margin-top: 3%;">
                <button type="submit" class="btn btn-submit add-sale" (click)="search()">SEARCH</button>
              </div>
            </div>
          </div>
        </div> 
        <div class="table-responsive">
          <!-- <cdk-virtual-scroll-viewport
          orientation="vertical"
          class="scroll-demo"
          itemSize="50"> -->
          <table  class="table datanew table-sm">
            <thead>
              <tr>
              
                <th>#</th>
                <th>Formated Code</th>
                <th>Account Name </th>
                <th>Opening Qty</th>
                <th>Item Name</th>
                <th>Item Quantity</th>
                <th>Pur Rate</th>
                <th>Sale Rate</th>
                <th>Voucher Date</th>
                <th>Voucher Code</th>
                <th>Profit</th>
                <th>Created By</th>
              </tr>
            </thead>
            <tbody>
              <!-- @for (data of report; track data) { -->
                <tr *ngFor="let data of filteredReport; let i = index">
                  <td>{{i +1}}</td>
                  <td>{{data.formatedCode}}</td>
                  <td style="width: 25%px; flex-wrap: wrap;white-space: normal;">{{data.accountName}}</td>
                  <td>{{data.openingQty}}</td>
                  <td style="width: 25%px; flex-wrap: wrap;white-space: normal;">{{data.itemName}}</td>
                  <td>{{data.itemQuantity}}</td>
                  <td>{{data.openingRate}}</td>
                 
                  <td>{{data.saleRate}}</td>
                  <td>{{data.voucherDate}}</td>
                  <td>{{data.voucherCode}}</td>
                  <td>{{data.profit}}</td>
                  <td>{{data.createdBy}}</td>
                  
              
            </tr>
          <!-- } -->
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10" class="text-right"><strong>Total Profit:</strong></td>
            <td>{{ totalProfit | number:'1.2-2' }}</td>
            <td></td>  <!-- You can leave the last column empty or add any content if needed -->
          </tr>
        </tfoot>
      </table>
      <!-- </cdk-virtual-scroll-viewport> -->
        </div>
    
  
</div>
 
 
