


<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
          <h4>Activity List</h4>
          <h6>Manage Your Activity</h6>
        </div>
      </div>
      <ul class="table-top-head">
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
          src="assets/img/icons/pdf.svg" alt="img"></a>
        </li>
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
          src="assets/img/icons/excel.svg" alt="img"></a>
        </li>
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
          class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
        </li>
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
          class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
        </li>
        <li>
          <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Collapse"
            matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
            <i class="feather icon-chevron-up feather-chevron-up"></i>
          }
          @if (isCollapsed) {
            <i class="feather icon-chevron-down feather-chevron-down"></i>
          }</a>
        </li>
      </ul>
      <div class="page-btn">
        <a href="javascript:void(0);" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-activity"><i
        class="feather icon-plus-circle me-2"></i> Add New Activity</a>
      </div>
</div>
<div  class="card table-list-card">
     <div class="table-responsive">
            <nz-table #ITableRef [nzData]="['*']" [nzFrontPagination]="false"  class="table datanew" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>STATUS</th>
                        <th style="width: 10%;">ACCTION</th>
                    </tr>
                </thead>
                  <tbody>
                      <tr *ngFor="let m of activity; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{m.name}}</td>
                            <td>
                              <span 
                                class="badge" 
                                [ngClass]="m.status ? 'bg-success' : 'bg-danger'">
                                {{ m.status ? 'INCLUDE' : 'EXCLUDE' }}
                              </span>
                            </td>
                           <td> <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#add-activity" (click)="editActivity(m)"><i class="feather icon-edit info-img"></i>Edit
                         </a></td>
                       </tr>
                  </tbody>   
            </nz-table>
    </div>
</div>
 
<!-- <model> -->
    <!-- <div class="modal fade" id="add-sales-new"> -->
<!-- <div class="col-lg-4 col-sm-6 col-12"> -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="add-activity" tabindex="-1" aria-labelledby="editpayment" aria-hidden="true">
    <div class="modal-dialog modal-top">
      <div class="modal-content">
        <div class="modal-header">
          <div class="page-title">
            <h4>ADD Activity</h4>
          </div>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body custom-modal-body">
          <form>
            <div class="row">
              <div class=" col-12">
                <div class="input-blocks add-product">
                  <label>NAME <span class="required-span-color">*</span></label>
                  <input type="text" class="form-control" required placeholder="please enter location name"
                  [(ngModel)]="obj.name" [ngModelOptions]="{standalone: true}" style="text-transform: uppercase;" />
                </div>
              </div>
              <div class="col-12">
                <div class="input-blocks add-product">
                  <label>STATUS <span class="required-span-color">*</span></label>
                  <nz-select [(ngModel)]="obj.status" [ngModelOptions]="{ standalone: true }"
                    class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select item" name="itemDef">
                    <nz-option nzLabel="EXCLUDE" [nzValue]=false></nz-option>
                    <nz-option nzLabel="ENCLUDE" [nzValue]=true></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div class="col-lg-12 text-end">
              <button type="button" class="btn btn-cancel add-cancel me-3" (click)="cancel()"
              data-bs-dismiss="modal" id="close" >Cancel</button>
              <button type="submit" class="btn btn-submit add-sale" (click)="addActivity()" >Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
