<div class="page-header">
    <h2>purchase order list</h2>
   <!-- <div class="page-btn">
      <a href="javascript:void(0);" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-sales-new"><i
       class="feather icon-plus-circle me-2"></i>Add New Sales Order</a>
     </div> -->
     <div class="page-btn">
      <a [routerLink] = "routes.purchaseOrderForm" class="btn btn-added"><i class="feather icon-plus-circle me-2"></i>Add New
    Purchase Order Form</a>
  </div>
 </div>

 <div class="card table-list-card">
  <div class="card-body">
      <div class="table-top">
        <div class="col-lg-4 col-sm-6 col-12">
          <div  class="input-blocks add-product" style="display: flex;">
            <label style="text-align: right;margin-right: 3%;" nz-col nzSm="7" nzMd="7" nzLg="7">
              FROM DATE </label>
              <div nz-col nzSm="17" nzMd="17" nzLg="17">
                <input type="date" class="form-control" 
                [(ngModel)]="purchaseOrder.fromDate" [ngModelOptions]="{standalone: true}"  />
           </div>
          </div>
         </div>
         <div class="col-lg-4 col-sm-6 col-12">
          <div  class="input-blocks add-product" style="display: flex;">
            <label style="text-align: right;margin-right: 3%;" nz-col nzSm="7" nzMd="7" nzLg="7">
              TO DATE </label>
              <div nz-col nzSm="17" nzMd="17" nzLg="17">
                <input type="date" class="form-control" 
                [(ngModel)]="purchaseOrder.toDate" [ngModelOptions]="{standalone: true}"/>
           </div>
          </div>
         </div>
         <div class="col-lg-2 text-end">
          <div class="input-blocks">
           <a class="btn btn-filters ms-auto" (click)="search()" > <i class="feather icon-search  feather-search"></i>
           Search </a>
          </div>
        </div>
        <div class="search-path">
          <div class="d-flex align-items-center">
            <a class="btn btn-filter" id="filter_search" (click)="openFilter()"
             [ngClass]="{'setclose': filter === true}">
             <i class="feather icon-filter filter-icon"></i>
             <span><img src="assets/img/icons/closes.svg" alt="img"></span>
            </a>
           </div>
        </div>
      </div>  
      <div class="card" id="filter_inputs" [ngClass]="{'d-block': filter, 'd-none': !filter}">
          <div class="card-body pb-0">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>Company <span class="required-span-color">*</span></label>
                        <nz-select
                          [(ngModel)]="purchaseOrder.company.id"
                          [ngModelOptions]="{ standalone: true }"
                          class="w-100"
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Select Unit"
                        >
                          <nz-option *ngFor="let c of getCompanies" [nzLabel]="c.name" [nzValue]="c.id"></nz-option>
                        </nz-select>
                      </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div>
                        <label>Branche <span class="required-span-color">*</span></label>
                        <nz-select
                          [(ngModel)]="purchaseOrder.branch.id"
                          [ngModelOptions]="{ standalone: true }"
                          class="w-100"
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Select Company">
                          <nz-option *ngFor="let u of getBranches" [nzLabel]="u.name" [nzValue]="u.id"></nz-option>
                        </nz-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div>
                        <label>SUPPLIER ACCOUNT <span class="required-span-color">*</span></label>
                        <nz-select
                          [(ngModel)]="purchaseOrder.accountCode"
                          [ngModelOptions]="{ standalone: true }"
                          class="w-100"
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Select Company">
                          <nz-option *ngFor="let p of parties" [nzLabel]="p.accountName" [nzValue]="p.code"></nz-option>
                        </nz-select>
                      </div>
                    </div>
                   
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>Item <span class="required-span-color">*</span></label>
                        <nz-select
                        [(ngModel)]="purchaseOrder.item"
                        [ngModelOptions]="{ standalone: true }"
                        class="w-100"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Select Unit">
                        <nz-option *ngFor="let i of itemDefs" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
                      </nz-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>MILL ACCOUNT <span class="required-span-color">*</span></label>
                        <nz-select
                        [(ngModel)]="purchaseOrder.millKhata"
                        [ngModelOptions]="{ standalone: true }"
                        class="w-100"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Select Unit">
                        <nz-option *ngFor="let i of mills" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
                      </nz-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>SEARCH BY DATE<span class="required-span-color">*</span></label>
                        <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                         [(ngModel)]="purchaseOrder.voucherStatus" [ngModelOptions]="{ standalone: true }">
                          <nz-option nzLabel="CREATE DATE" nzValue="4"></nz-option>
                          <nz-option nzLabel="PURCHASE ORDER DATE" nzValue="3"></nz-option>
                          <nz-option nzLabel="DELIVERY DATE" nzValue="0"></nz-option>
                          <nz-option nzLabel="UPDATED DATE" nzValue="2"></nz-option>
                        </nz-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>Stuts<span class="required-span-color">*</span></label>
                        <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                         [(ngModel)]="purchaseOrder.voucherStatus" [ngModelOptions]="{ standalone: true }">
                          <nz-option nzLabel="ALL" nzValue="all"></nz-option>
                          <nz-option nzLabel="CONFROM" nzValue="conform"></nz-option>
                          <nz-option nzLabel="CONVERTED" nzValue="conveted"></nz-option>
                          <nz-option nzLabel="CANCEL" nzValue="concel"></nz-option>
                          <nz-option nzLabel="PENDING" nzValue="pending"></nz-option>
                          <nz-option nzLabel="REJECT" nzValue="reject"></nz-option>
                        </nz-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>Payment Type<span class="required-span-color">*</span></label>
                        <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                         [(ngModel)]="purchaseOrder.voucherStatus" [ngModelOptions]="{ standalone: true }">
                          <nz-option nzLabel="CREATE DATE" nzValue="cash"></nz-option>
                          <nz-option nzLabel="ALL" nzValue="all"></nz-option>
                          <nz-option nzLabel="ROUTINE" nzValue="routine"></nz-option>
                          <nz-option nzLabel="PERCENTAGE" nzValue="percentage"></nz-option>
                        </nz-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>QTY<span class="required-span-color">*</span></label>
                       <input [(ngModel)]="purchaseOrder.qty" [ngModelOptions]="{ standalone: true }" nz-input type="text" name="" id="">
                      </div>
                    </div>
          </div>
      </div>
    </div>
      <div class="table-responsive">
          <nz-table>
              <thead>
                  <tr>
                    <th>#</th>
                <th>PO # <br> STATUS</th>
                <th>PO DATE</th>
                <th>SUPPLIER NAME <br>MILL KHATA</th>
                <th>PRODUCT <br> PAYMENT TYPE</th>
                <th>RATE</th>
                <th>B(KG)</th>
                <th>R(KG)</th>
                <th>P(KG)</th>
                <th>TRUCK</th>
                <th>CREAT BY <br>MODI BY</th>
                <th>Vouchers</th>
                <th>VIEW</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items ; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{ item?.purchaseOrderCode }} <br> {{ item?.status }}</td>
                    <td>{{ item?.paymentDate }}</td>
                    <td>{{ item?.account?.accountName }} <br> {{ item?.millKhata }}</td>
                    <td>{{ item?.itemDef?.name }} <br> {{ item?.paymentType }}</td>
                    <td>{{ item?.rate }}</td>
                    <td>{{ item?.kg }}</td>
                    <td>{{ item?.receivedWeight }}</td>
                    <td>{{ item?.pendingWeight }}</td>
                    <td>{{ item?.vehical }}</td>
                    <td>{{item?.createdBy}} <br>{{item?.modifiedBy}}</td>
                    <td>{{item?.vouchers.name}}</td>
                    <!-- <td>
                        <button (click)="viewDetails(item?.purchaseOrderId)">View</button>
                    </td> -->
                </tr>
                </tbody>
          </nz-table>
      </div>

  </div> 
</div>  
