table tr, table td, table th {
    padding: 6px 10px !important;
    line-height: 1.2 !important;
    vertical-align: middle !important;
  }
  
  .table-responsive table {
    font-size: 14px;
  }
  button.mat-icon-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  .mat-icon {
    font-size: 18px;
  }