<div class="page-header">
    <div class="add-item d-flex">
      <div class="page-title">
        <h4>Account Management</h4>
        <h6>Manage your Accounts</h6>
      </div>
    </div>
    <ul class="table-top-head">
      <li (click)="generatePDF()">
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf" matTooltip="Pdf" matTooltipPosition="above"><img
            src="assets/img/icons/pdf.svg" alt="img"></a>
      </li>
      <li (click)="exportToExcel()">
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel" matTooltip="Excel"
          matTooltipPosition="above"><img src="assets/img/icons/excel.svg" alt="img"></a>
      </li>
      <!-- <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Print" matTooltip="Print" matTooltipPosition="above"><i
            class="feather icon-printer feather-rotate-ccw"></i></a>
      </li> -->
      <li (click)="getAllBrands()">
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh" matTooltip="Refresh"
          matTooltipPosition="above"><i class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
      </li>
      <li>
        <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
          matTooltip="Collapse" matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
          <i class="feather icon-chevron-up feather-chevron-up"></i>
          }
          @if (isCollapsed) {
          <i class="feather icon-chevron-down feather-chevron-down"></i>
          }</a>
      </li>
    </ul>
    <div class="page-btn" (click)="navigateToAddAccount()">
      <a href="javascript:void(0);" class="btn btn-added"><i
          class="feather icon-plus-circle me-2"></i>Add Account</a>
    </div>
  </div>
  <div class="card table-list-card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-input">
            <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
            <div class="dataTables_filter">
              <label>
                <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                  placeholder="Search..." />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive" id="table-container">
        <table class="table datanew">
          <thead>
            <tr>
              <th>Name</th>
              <th style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- @for (data of tableData; track data) {
            <tr>
              <td>{{ data.name }}</td>
              <td class="action-table-data">
                <div class="edit-delete-action">
                  <a class="me-2 p-2" href="javascript:void(0);" (click)="editModal(data)">
                    <i class="feather icon-edit feather-edit"></i>
                  </a>
                </div>
              </td>
            </tr>
            } -->
          </tbody>
        </table>
      </div>
    </div>
  </div>