
<div class="row">
  <div class="col-md-12">
    <div class="card input-blocks add-product">
      <!-- <div class="card-header">
        <h5 class="card-title">Two Column Horizontal Form 2</h5>
      </div> -->
      <div class="card-body">
        <form action="#" *ngIf="pjvVoucher">
          <div class="row">
            <div class="col-xl-4">
              <!-- <h6 class="mb-3">Personal Information</h6> -->
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Voucher No</label>
                <div class="col-lg-8 ">
                  <input type="text" class="form-control" [(ngModel)]="pjvVoucher.voucherCode"
                   readonly name="vehicalNumber" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Unit</label>
                <div class="col-lg-8">
                  <nz-select class="w-100 custom-nz-select" nzShowSearch nzAllowClear nzPlaceHolder="Select parties"
                    [(ngModel)]=pjvVoucher.itemStock.branch.id [ngModelOptions]="{standalone: true}">
                      <nz-option *ngFor="let u of getBranches" [nzLabel]="u.name" [nzValue]="u.id" class="form-control "></nz-option>
                    </nz-select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Date</label>
                <div class="col-lg-8">
                  <input type="date" [(ngModel)]="pjvVoucher.itemStock.invoiceDate" 
                   [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Vehicle No</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control " onfocus="this.select()" name="vehicalNumber"
                  [(ngModel)]="pjvVoucher.vehicalNumber" [ngModelOptions]="{standalone: true}" style="text-transform: uppercase;">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Product Name</label>
                <div class="col-lg-8">
                  <nz-select   id class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select parties"
                    [(ngModel)]=pjvVoucher.itemStock.itemStockEntries[0].itemDef.id 
                    (ngModelChange)="getItemById($event)" [ngModelOptions]="{standalone: true}">
                      <nz-option *ngFor="let i of itemDefs" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
                    </nz-select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Book No</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.bookNumber" (ngModelChange)="calculcate()" 
                   type="text" class="form-control " onfocus="this.select()" name="bookNumber">
                </div>
              </div>
              <div class="row">
                <label class="col-lg-4 col-form-label">Bag</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].bags" (ngModelChange)="calculcate()"
                        onfocus="this.select()" name="bags"
                        type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="row">
                <label class="col-lg-4 col-form-label">Gross Weight</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].totalKg" onfocus="this.select()"
                        name="totalKg" (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-lg-4 col-form-label">Bag WT</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].bagWeightDeduction" onfocus="this.select()"
                        name="bagWeightDeduction" (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input type="text" [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].totalBagWeightDeduction" readonly name="totalBagWeightDeduction"
                         class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="row">
                <label class="col-lg-4 col-form-label">Deduction</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].katoti" name="katoti" onfocus="this.select()"
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].totalKatoti" readonly
                        name="totalKatoti"
                         type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="row">
                <label class="col-lg-4 col-form-label">QTY</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].itemQuantity" readonly
                        name="itemQuantity"
                        type="text" class="form-control ">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].manWithKg" readonly
                        name="manWithKg"
                         type="text"  class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">WT/Bag</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].otherBagWeight" readonly
                  name="otherBagWeight" nz-input="text"
                   type="text" class="form-control ">
                </div>
              </div>
              <!-- <div class="row mb-3">
                <label class="col-lg-3 col-form-label">About</label>
                <div class="col-lg-9">
                  <textarea rows="4" cols="5" class="form-control" placeholder="Enter message"></textarea>
                </div>
              </div> -->
            </div>
            <div class="col-xl-4">
              <!-- <h6 class="mb-3">Personal Details</h6> -->
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Party Account</label>
                <div class="col-lg-8">
                  <nz-select   id class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select parties"
                    [(ngModel)]=pjvVoucher.itemStock.account.code [ngModelOptions]="{standalone: true}">
                      <nz-option *ngFor="let p of parties" [nzLabel]="p.accountName" [nzValue]="p.code"></nz-option>
                    </nz-select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Promis Date</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.invoiceDueDate" name="invoiceDueDate" 
                  (ngModelChange)="calculcate()" nz-input type="date"
                   type="date" class="form-control ">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Purchase Rate</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].price" onfocus="this.select()"
                  name="saleRate" 
                 (ngModelChange)="calculcate()"
                   type="text" class="form-control ">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Purchase Amount</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].amount" readonly name="amount" 
                  (ngModelChange)="calculcate()"
                   type="text" class="form-control ">
                </div>
              </div>
              <div class="row">
                <label class="col-lg-4 col-form-label">W.H Tax(-)</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.millTaxRate" onfocus="this.select()" name="millTaxRate" 
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.millTaxAmount" name="millTaxAmount" readonly
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="row">
                <label class="col-lg-4 col-form-label">Sales Tax(+)</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.silaiRate" name="silaiRate" onfocus="this.select()"
                        (ngModelChange)="calculcate()"
                         type="text"  class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.silaiAmount" name="silaiAmount" readonly
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="row">
                <label class="col-lg-4 col-form-label">Bank Tax(-)</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.bankTaxRate" name="bankTaxRate" onfocus="this.select()"
                        (ngModelChange)="calculcate()"
                         type="tel" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.bankTaxAmount" name="bankTaxAmount" readonly
                        (ngModelChange)="calculcate()"
                         type="text"  class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="row">
                <label class="col-lg-4 col-form-label">Bardana(+)</label>
                 <div class="col-lg-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input  [(ngModel)]="pjvVoucher.itemStock.bardanaRate" name="bardanaRate" onfocus="this.select()"
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.bardanaAmount" name="bardanaAmount" readonly
                        (ngModelChange)="calculcate()"
                        type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Other EXP</label>
                <div class="col-lg-8">
                  <input  [(ngModel)]="pjvVoucher.itemStock.otherExp" name="otherExp" 
                  (ngModelChange)="calculcate()"
                   type="text" class="form-control ">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Carriage(-)</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.freightCharges" name="freightCharges" onfocus="this.select()"
                  (ngModelChange)="calculcate()"
                   type="text" class="form-control ">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Net Purchase</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.netAmount" name="netAmount" 
                  (ngModelChange)="calculcate()"
                   type="text" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Remarks</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.voucherNarration" name="voucherNarration" 
                  (ngModelChange)="calculcate()"
                  type="text" class="form-control ">
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <h4 class="mb-3" style="text-align: center;"><i>Bardana Information</i></h4>
              
              <h4 class="mb-3" style="text-align: right;"><i>.</i></h4>
              <div class="row">
                <div class="row">
                  <div class="col-lg-12">
                   <div class="row">
                     <label class="col-lg-2 col-form-label">PP R</label>
                     <div class="col-md-4">
                       <div class="mb-3">
                         <input  [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].plasticBag " name="purchaseRate" 
                         (ngModelChange)="calculcate()"
                          type="text" class="form-control">
                       </div>
                     </div>
                     <label class="col-lg-2 col-form-label">Rate</label>
                     <div class="col-md-4">
                       <div class="mb-3">
                         <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].plasticBagRate" name="bankTaxRate" 
                         (ngModelChange)="calculcate()"
                          type="text" class="form-control ">
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
              <div class="row">
                 <div class="col-lg-12">
                  <div class="row">
                    <label class="col-lg-2 col-form-label">Jut R</label>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].juteBag" name="bankTaxRate" 
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control ">
                      </div>
                    </div>
                    <label class="col-lg-2 col-form-label">Rate</label>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].juteBagRate" name="bankTaxRate" 
                        (ngModelChange)="calculcate()"
                         type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">REM</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="pjvVoucher.itemStock.itemStockEntries[0].rem" name="bankTaxRate" 
                  (ngModelChange)="calculcate()" type="text" class="form-control ">
                </div>
              </div>
              <h4 class="mb-3" style="text-align: center;"><i>Other Entries</i></h4>
              <div class="row mb-3">
                <label class="col-lg-4 col-form-label">Broker Account</label>
                <div class="col-lg-8">
                  <nz-select   id class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select parties"
                  [(ngModel)]=pjvVoucher.itemStock.account.code [ngModelOptions]="{standalone: true}">
                    <nz-option *ngFor="let p of parties" [nzLabel]="p.accountName" [nzValue]="p.code"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                 <div class="row">
                   <label class="col-lg-2 col-form-label">com</label>
                   <div class="col-md-4">
                     <div class="mb-3">
                       <input [(ngModel)]="pjvVoucher.itemStock.brokriValue" name="brokriValue"
                       (ngModelChange)="taxRate()"
                        type="text" class="form-control">
                     </div>
                   </div>
                   <label class="col-lg-2 col-form-label">Rate</label>
                   <div class="col-md-4">
                     <div class="mb-3">
                       <input onfocus="this.select()" class="form-control" type="tel" [(ngModel)]="pjvVoucher.itemStock.brokriRate" name="brokriRate" [ngModelOptions]="{standalone:true}"
                       (ngModelChange)="calculcate()"
                        type="text" class="form-control ">
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row mb-3">
              <label class="col-lg-4 col-form-label">Broker Amount</label>
              <div class="col-lg-8">
                <input readonly [(ngModel)]="pjvVoucher.itemStock.brokriAmount" name="brokriAmount"
                (ngModelChange)="calculcate()"
                   type="text" class="form-control ">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-lg-4 col-form-label"></label>
              <div class="col-lg-8">
                <input readonly [(ngModel)]="pjvVoucher.itemStock.brokriAmount" name="brokriAmount"
                (ngModelChange)="calculcate()"
                   type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-lg-4 col-form-label">Financial Year</label>
              <div class="col-lg-8">
                <nz-select [(ngModel)]="pjvVoucher.financialYear.id" [ngModelOptions]="{ standalone: true }"
                          class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select year">
                          <nz-option *ngFor="let f of financialYear" [nzLabel]="f.name" [nzValue]="f.id"></nz-option>
                        </nz-select>
              </div>
            </div>
            </div>
           </div>
          </div>
            <div class="col-lg-12 text-end">
              <button type="button" class="btn btn-cancel add-cancel me-3"
              data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-submit add-sale" (click)="submitVoucher()" >Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="viewSale">
  <div class="modal-dialog add-centered">
    <div class="modal-content">
      <!-- <div class="modal-header border-0 custom-modal-header">
      <div class="page-header">
             
      </div>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div> -->
      <div class="card">
            <div class="card-body">
              <form *ngIf="voucher">
                <div class="row color-warning">
                  <tr>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                   <div class="card-body">
                    <!-- <div style="display: flex; flex-wrap: wrap;" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"> -->
                      <h6 nz-col nzXs="10" nzSm="10" nzMd="10" nzLg="10" nzXl="10" style="white-space: normal; text-align: left;">
                        COMPANY : {{voucher.company.name}}
                      </h6>
                      <!-- <div nz-col nzXs="14" nzSm="14" nzMd="14" nzLg="14" nzXl="14" style="display: flex;align-items: center;margin-left: 4px;">
                       <h6></h6>
                      </div> -->
                    <!-- </div> -->
                    <div style="display: flex; flex-wrap: wrap;" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <h6 nz-col nzXs="10" nzSm="10" nzMd="10" nzLg="10" nzXl="10" style="white-space: normal; text-align: left;">
                        BRANCH  : {{voucher.itemStock.branch.name}}
                      </h6>
                      <!-- <div nz-col nzXs="14" nzSm="14" nzMd="14" nzLg="14" nzXl="14" style="display: flex;align-items: center;margin-left: 8px;">
                       <h6></h6>
                      </div> -->
                    </div>
                    <div style="display: flex; flex-wrap: wrap;" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <h6 nz-col nzXs="10" nzSm="10" nzMd="10" nzLg="10" nzXl="10" style="white-space: normal; text-align: left;">
                        ADDRESS : {{voucher.itemStock.branch.address}}
                      </h6>
                      <!-- <div nz-col nzXs="14" nzSm="14" nzMd="14" nzLg="14" nzXl="14" style="display: flex;align-items: center;margin-left: 4px;">
                       <h6></h6>
                      </div> -->
                    </div>
                    <h4  style="color: chocolate;text-align:center; " ><br> PURCHASE INVOICE</h4>
                   </div>
                 </tr>
                </div> 
                <!-- <div class="page-header"> -->
                  
                    
                <div class="row "  style="margin-left: 10px;">
                    <tr class=" col-sm-6 col-12" style="margin-top:4px ;margin-bottom: 4px;">
                    
                     <td><h6>VOUCHER NO : {{voucher.voucherCode}}</h6> <h6> PARTY NAME : {{voucher.itemStock.account.accountName}}</h6>
                       <h6>PRODUCT NAME :{{voucher.itemStock.itemStockEntries[0].itemDef.name}}</h6></td>
                     
                    
                    
                    </tr>
                    <tr class=" col-sm-6 col-12" style="margin-top:4px ;">
                    <!-- <div class="row"> -->
                      <td><h6>PJV DATE : {{voucher.voucherDate}}</h6> <h6> BOOK NUMBER :{{voucher.bookNumber}} </h6></td>
                     
                      <!-- </div> -->
                    
                    </tr>
                </div>
                
                <div class="card table-list-card">
                  <div class="card-body">
                    <div class="page-wrapper p-0 m-0">
                      <div class="content p-0">
                        <!-- <div class="page-header border-0 custom-modal-header">
                          <div class="add-item new-sale-items d-flex">
                            <div class="page-header">
                              <h4>Sales New Voucher</h4>
                            </div>
                          </div>
                        </div> -->
                        <div class="card">
                          <div class="card-body">
                            <!-- <form> -->
                              <div class="row">
                                
                              </div>
                              <div class="table-responsive no-pagination">
                                <table class="table  datanew">
                                  <thead>
                                    <tr>
                                      <!-- <th>#</th> -->
                                      <th>VEHICALE NO</th>
                                      <th>BAGS</th>
                                      <th>GRASS WT(KG)</th>
                                      <th>BAG WT</th>
                                      <th>DEDUCTION</th>
                                      <th>NET WT(KG)</th>
                                      <th>RATE</th>
                                      <th>GROSS AMOUNT</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let data of voucher.itemStock.itemStockEntries">
                                      <td>{{voucher.vehicalNumber }}</td>
                                      <td>{{data.bags}}</td>
                                      <td>{{data.totalKg}}</td>
                                      <td>{{data.totalBagWeightDeduction}}</td>
                                      <td>{{data.katoti}}</td>
                                      <td>{{data.safiKg}}</td>
                                      <td>{{data.price}}</td>
                                      <td>{{voucher.itemStock.totalAmount}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                
                               <div class="row">
                                <div class="col-lg-6 ms-auto" style="margin-right: 25px;">
                                  <div class="total-order w-100 max-widthauto m-auto mb-4">
                                    <ul>
                                      <li>
                                        <h4>MILL TAX(-)</h4>
                                        <h5>{{voucher.itemStock.millTaxRate}}</h5>
                                        <h5>{{voucher.itemStock.millTaxAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>BANK TAX(-)</h4>
                                        <h5>{{voucher.itemStock.bankTaxRate}}</h5>
                                        <h5>{{voucher.itemStock.bankTaxAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>SILAI(+)</h4>
                                        <h5>{{voucher.itemStock.silaiRate}}</h5>
                                        <h5>{{voucher.itemStock.silaiAmount}}</h5>
                                        <!-- <h5><input type="text" class="form-control" [(ngModel)]="voucher.itemStock.freightCharges" [ngModelOptions]=" {standalone:true}" readonly></h5> -->
                                      </li>
                                      <li>
                                        <h4>BARDANA(+)</h4>
                                        <h5>{{voucher.itemStock.bardanaRate}}</h5>
                                        <h5>{{voucher.itemStock.bardanaAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>LABOUR CHARGES(+)</h4>
                                        <h5>{{voucher.itemStock.unloadingRate}}</h5>
                                        <h5>{{voucher.itemStock.unloadingCharges}}</h5>
                                        <!-- <h5><input type="text" class="form-control" [(ngModel)]="voucher.itemStock.freightCharges" [ngModelOptions]=" {standalone:true}" readonly></h5> -->
                                      </li>
                                      <li>
                                        <h4>OTHER EXPANCES(+)</h4>
                                        <h5></h5>
                                        <h5>{{voucher.itemStock.otherExp}}</h5>
                                        <!-- <h5><input type="text" class="form-control" [(ngModel)]="voucher.itemStock.freightCharges" [ngModelOptions]=" {standalone:true}" readonly></h5> -->
                                      </li>
                                      <li>
                                        <h4>CARRIAGE CHARGES(-)</h4>
                                        <h5></h5>
                                        <h5>{{voucher.itemStock.freightCharges}}</h5>
                                        <!-- <h5><input type="text" class="form-control" [(ngModel)]="voucher.itemStock.freightCharges" [ngModelOptions]=" {standalone:true}" readonly></h5> -->
                                      </li>
                                      <li>
                                        <h4>NET AMOUNT</h4>
                                        <h5>$ 0.00</h5>
                                        <h5>{{voucher.itemStock.netAmount}}</h5>
                                        <!-- <h5><input type="text" class="form-control" [(ngModel)]="voucher.itemStock.freightCharges" [ngModelOptions]=" {standalone:true}" readonly></h5> -->
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                
                              <div class="col-lg-12 text-end">
                                <!-- <button type="button" class="btn btn-cancel warninig add-cancel me-3"
                                data-bs-dismiss="modal" id="close1">POST VOUCHER</button> -->
                                <button data-bs-dismiss="modal" id="closeview" type="submit" class="btn btn-submit add-sale">Cancel</button>
                              </div>
                            <!-- </form> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div> 
              </form>
            </div>
      </div>
    </div>
  </div>
</div>