<div class="page-header">
    <h4>voucher detail list</h4>
    
   
  <ul class="table-top-head">
    
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
      src="assets/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
      src="assets/img/icons/excel.svg" alt="img"></a>
    </li>
    <!-- <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
      class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
    </li> -->
    <li>
      <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
        id="collapse-header" matTooltip="Collapse"> @if (!isCollapsed) {
        <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
        <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
    </li>
    <div class="page-btn">
      <div class="search-path">
        <div class="d-flex align-items-center">
          <a class="btn btn-filter" id="filter_search" (click)="openFilter()"
           [ngClass]="{'setclose': filter === true}">
           <i class="feather icon-filter filter-icon"></i>
           <span><img src="assets/img/icons/closes.svg" alt="img"></span>
          </a>
         </div>
      </div>
    </div>
    <div class="page-btn">
      <a href="javascript:void(0);" id="edit-vouche" class="btn btn-added" (click)="openVoucher()" data-bs-toggle="modal" data-bs-target="#new-voucher"><i
      class="feather icon-plus-circle me-2"></i> Add New Voucher</a>
    </div>
  </ul>
  
</div>
<div class="card table-list-card">
  <div class="card-body">  
        <div class="card" id="filter_inputs" [ngClass]="{'d-block': filter, 'd-none': !filter}">
          <div class="card-body pb-0" style="margin-top: 5;">
            <div class="row">
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>Company <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.company.id"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Unit">
                    <nz-option nzLabel="All" nzValue="0"></nz-option>
                    <nz-option *ngFor="let c of getCompanies" [nzLabel]="c.name" [nzValue]="c.id"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>From Date <span class="required-span-color">*</span></label>
                  <input nz-input type="date" class="form-control" 
                  [(ngModel)]="obj.fromDate" [ngModelOptions]="{standalone: true}"  />
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>To Date <span class="required-span-color">*</span></label>
                  <input nz-input type="date" class="form-control" 
                  [(ngModel)]="obj.toDate" [ngModelOptions]="{standalone: true}"  />
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div  class="input-blocks add-product">
                  <label >Search By Date<span class="required-span-color">*</span> </label>
                      <mat-select [(ngModel)]="obj.searchByDate" [ngModelOptions]="{standalone: true}" name="status">
                        <mat-option [value]="'1'"> VOVCHER DATE</mat-option>
                        <mat-option [value]="'2'">CREATED DATE</mat-option>
                        <mat-option [value]="'3'">UPDATED DATE</mat-option>
                      </mat-select>
                </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>POSTED/UNPOSTED<span class="required-span-color">*</span> </label>
                      <mat-select [(ngModel)]="obj.postedUnPosted" [ngModelOptions]="{standalone: true}" >
                        <mat-option [value]="'2'">All</mat-option>
                        <mat-option [value]="'P'">POSTED</mat-option>
                        <mat-option [value]="'U'">UNPOSTED</mat-option>
                      </mat-select>
                </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-12">
                <div  class="input-blocks add-product">
                  <label >Voucher Type<span class="required-span-color">*</span> </label>
                      <mat-select [(ngModel)]="obj.voucherType.id" [ngModelOptions]="{standalone: true}" >
                        <mat-option [value]="'0'">ALL</mat-option>
                        <mat-option [value]="'BPV'"> BANK PAYMINTVOVCHER</mat-option>
                        <mat-option [value]="'BRV'">BANK RECEPIT VOUVHER</mat-option>
                        <mat-option [value]="'CPV'">CASH PAYMENT VOUCHER</mat-option>
                        <mat-option [value]="'CRV'">CASH RECEPIT VOUCHER</mat-option>
                        <mat-option [value]="'JV'">JOURNAL VOUCHRE</mat-option>
                        <mat-option [value]="'OJV'">ONLINE JOURNAL VOUCHRE</mat-option>
                      </mat-select>
                </div>
               </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>VOUCHER STATUS<span class="required-span-color">*</span></label>
                  <mat-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                   [(ngModel)]="obj.voucherStatus.id" [ngModelOptions]="{standalone: true}">
                    <mat-option [value]="'0'">BOTH</mat-option>
                    <mat-option [value]="'M'">1</mat-option>
                    <mat-option [value]="'S'">2</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>VOUCHER NO<span class="required-span-color">*</span></label>
                  <input class="form-control" [(ngModel)]="obj.voucherCode" [ngModelOptions]="{standalone: true}" type="text">
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>NARRATION<span class="required-span-color">*</span></label>
                  <input class="form-control" [(ngModel)]="obj.voucherNarration" [ngModelOptions]="{standalone: true}" type="text">
                </div>
              </div>
              <div class="col-lg-9 col-sm-6 col-12 text-end" style="margin-top: 3%;">
                <button type="submit" class="btn btn-submit add-sale" (click)="search()">SEARCH</button>
              </div>
            </div>
          </div>
        </div> 
        <div class="table-responsive">
          <table class="table  datanew">
            <thead>
              <tr>
              
                <th>#</th>
                <th>BRANCH</th>
                <th>ACCOUNT CODE</th>
                <th>CODE</th>
                <th>DATE</th>
                <th>NARRATION</th>
                <th>DEBIT</th>
                <th>CREDIT</th>
                <th>BOOK NO</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let voucher of voucherList; let i = index">
                <ng-container *ngFor="let item of voucher.voucherEntries; let j = index">
                  <tr>
                    <td>{{ i * voucher.voucherEntries.length + j + 1 }}</td> <!-- Sequential index -->
                    <td>{{ item.branch.name }}</td>
                    <td class="text-wrap">{{ item.account?.accountName }}</td>
                    <td> <a  href="javascript:void(0);" class="text-decoration-underline" (click)="view(voucher)"> {{ voucher.voucherCode }}</a></td>
                    <td>{{ voucher.voucherDate }}</td>
                    <td>{{ item.narration }}</td>
                    <td>{{ item.debit }}</td>
                    <td>{{ item.credit }}</td>
                    <td>{{ item.recBookNumber }}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6"><strong>Total:</strong></td>
                <td>{{ getTotalDebit() }}</td>
                <td>{{ getTotalCredit() }}</td> 
                <td></td>  <!-- Empty cell for alignment -->
              </tr>
            </tfoot>
         </table>
    </div>
</div>
</div>
<div class="modal fade" id="new-voucher">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="page-wrapper p-0 m-0">
        <div class="content p-0">
          <div class="modal-header border-0 custom-modal-header">
            <div class="add-item new-sale-items d-flex">
              <div class="page-header">
                <h4>Add New Voucher</h4>
              </div>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <!-- <div class="page-header"> -->
            <div class="card-body" style="width: 100%;margin-top: 1%;">
              <div class="input-blocks add-product"> 
                <div class="row ">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks add-product">
                    <label>Company <span class="required-span-color">*</span></label>
                    <nz-select
                      [(ngModel)]="voucher1.company.id" [ngModelOptions]="{ standalone: true }"
                      class="w-100"
                      nzShowSearch
                      nzAllowClear
                      nzPlaceHolder="Select Unit"
                    >
                      <nz-option *ngFor="let c of getCompanies" [nzLabel]="c.name" [nzValue]="c.id"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div  class="input-blocks add-product">
                    <label >VOUCHER STATUS<span class="required-span-color">*</span> </label>
                        <mat-select [(ngModel)]="voucher1.voucherStatus.id" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onchange($event)">
                          <mat-option [value]="'M'"> 1</mat-option>
                          <mat-option [value]="'S'">0</mat-option>
                        </mat-select>
                  </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 col-12">
                  <div  class="input-blocks add-product">
                    <label >VOUCHER Code<span class="required-span-color">*</span> </label>
                        <input [(ngModel)]="voucher1.voucherCode" [ngModelOptions]="{standalone: true}" type="text" readonly>
                  </div>
                 </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div  class="input-blocks add-product">
                    <label >Voucher Type<span class="required-span-color">*</span> </label>
                        <mat-select [(ngModel)]="voucher1.voucherType.id" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onchange($event)" [disabled]="isEditMode">
                          <mat-option [value]="'BPV'"> BANK PAYMINTVOVCHER</mat-option>
                          <mat-option [value]="'BRV'">BANK RECEPIT VOUVHER</mat-option>
                          <mat-option [value]="'CPV'">CASH PAYMENT VOUCHER</mat-option>
                          <mat-option [value]="'CRV'">CASH RECEPIT VOUCHER</mat-option>
                          <mat-option [value]="'JV'">JOURNAL VOUCHRE</mat-option>
                          <mat-option [value]="'OJV'">ONLINE JOURNAL VOUCHRE</mat-option>
                        </mat-select>
                  </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks add-product">
                    <label>FINANCIAL YEAR <span class="required-span-color">*</span></label>
                    <nz-select [(ngModel)]="voucher1.financialYear.id" [ngModelOptions]="{standalone: true}"
                      class="w-100"
                      nzShowSearch
                      nzAllowClear
                      nzPlaceHolder="Select year">
                      <nz-option *ngFor="let u of financialYear" [nzLabel]="u.name" [nzValue]="u.id"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks add-product">
                    <label>VOUCHER DATE <span class="required-span-color">*</span></label>
                    <input [(ngModel)]="voucher1.voucherDate" [ngModelOptions]="{standalone: true}"
                     class="form-control" type="date" name="voucherDate" >
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks add-product">
                    <label>NARRATION<span class="required-span-color">*</span></label>
                    <input [(ngModel)]="voucher1.voucherNarration" [ngModelOptions]="{standalone: true}"
                    class="form-control" type="text" name="voucherDate" >
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks add-product">
                    <label>PAYMENT TYPE<span class="required-span-color">*</span> </label>
                        <mat-select [(ngModel)]="voucher1.paymentType" [ngModelOptions]="{standalone: true}" name="paymentType">
                          <mat-option [value]="'0'">ALL</mat-option>
                          <mat-option [value]="'cash'">CASH</mat-option>
                          <mat-option [value]="'routine'">ROUTINE</mat-option>
                          <mat-option [value]="'percentage'">PERCENTAGE</mat-option>
                        </mat-select>
                  </div>
                 </div>
                </div>
              <!-- </div>   -->
              <form>
                <div class="table-responsive custom-modal-header">
                  <table class="table datanew">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>UNIT</th>
                        <th>Account</th>
                        <th>REMARKS</th>
                        <th>DEBIT(بنام)</th>
                        <th>CREDIT(جمع)</th>
                        <th>BOOK NO</th>
                        <th>ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of voucher1?.voucherEntries ;let i=index">
                        <td>{{i + 1}}</td>
                        <td><nz-select [(ngModel)]="data.branch.id" [ngModelOptions]="{standalone:true}"
                          class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Please Select Branch">
                          <nz-option *ngFor="let u of getBranches" [nzLabel]="u.name" [nzValue]="u.id"></nz-option>
                        </nz-select></td>
                        <td><nz-select [(ngModel)]="data.account.code" [ngModelOptions]="{standalone:true}"
                          class="w-100"
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Select Partie Name">
                          <nz-option *ngFor="let u of parties" [nzLabel]="u.accountName" [nzValue]="u.code"></nz-option>
                        </nz-select></td>
                        <td><input [(ngModel)]="data.narration" [ngModelOptions]="{standalone:true}" type="text"
                          class="form-control" name="narration" ></td>
                          <td>
                            <input 
                                class="form-control" 
                                [(ngModel)]="data.recBookPageNumber" 
                                [ngModelOptions]="{standalone:true}"
                                type="tel" onfocus="this.select()"
                                name="recBookPageNumber" 
                                [disabled]="data.invoiceNumber.length > 0" >
                        </td>
                        <td>
                            <input 
                                class="form-control" 
                                [(ngModel)]="data.invoiceNumber" 
                                [ngModelOptions]="{standalone:true}"
                                type="tel" onfocus="this.select()"
                                name="invoiceNumber" 
                                [disabled]="data.recBookPageNumber.length > 0" >
                        </td>
                             <td><input class="form-control" type="text"  [(ngModel)]="data.recBookNumber" [ngModelOptions]="{standalone:true}"
                              onfocus="this.select()" ></td>
                               <td>
                      <div class="edit-delete-action">
                        <a class="me-2 p-2" href="javascript:void(0);" (click)="addNewRow(data, i)">
                          <i class="feather icon-plus-circle feather-edit"></i>
                        </a>
                        <a class="confirm-text p-2" href="javascript:void(0);" (click)="deleteRow(i)" style="color: red;">
                          <i class="feather icon-trash-2 feather-trash-2"></i>
                        </a>
                      </div>
                    </td>
                      </tr>
                    </tbody>
                    <tfoot >
                      <tr>
                        <td colspan="4"><strong>Total:</strong></td>
                        <td>{{ getTotalRecBookPageNumber() }}</td>
                        <td [ngClass]="{'error-footer': !totalsValid}">{{ getTotalInvoiceNumber() }}</td>
                        <td ></td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="col-lg-12 text-end">
                    <button type="button" class="btn btn-cancel add-cancel me-3" (click)="cancel()"
                    data-bs-dismiss="modal" id="close" >Cancel</button>
                    <button type="submit" (click)="onSubmit()" class="btn btn-submit add-sale" >Submit</button>
                  </div>
                </div>
              </form>
              
               </div>
             </div>
         </div>
      </div>
     </div>
  </div>
</div>
<a id="view-vouche" data-bs-toggle="modal" data-bs-target="#myModal"></a>
<!--  view model voucher -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="editpayment" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header border-0 custom-modal-header">
        <div class="add-item new-sale-items d-flex">
          <div class="page-header">
            <h4>View Voucher</h4>
          </div>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <form>
        <div class="row color-warning"  style="margin-left: 10px;">
          <tr style=" margin-bottom:8px;">
           <div class="card-body">
           
            <h4  style="color: chocolate;text-align:center; " ><br> <i>{{voucher1.company.name}}</i></h4>
           </div>
         </tr>
        
        
        </div> 
        <!-- <div class="page-header"> -->
          
            
        <div  class="row "  style="margin-left: 10px;">
            <tr class=" col-sm-6 col-12" style="margin-top:4px ;margin-bottom: 4px;" >
            
             <td><h6>VOUCHER TYPE :  {{voucher1.voucherType.name}} </h6> <h6> VOUCHER NO : {{voucher1.voucherCode}}</h6>
               <h6>FINANCIAL YEAR :  {{voucher1.financialYear.name}}</h6></td>
             
            
            
            </tr>
            <tr class=" col-sm-6 col-12" style="margin-top:4px ;">
              <td><h6 >VOUCHER STATUS : {{voucher1.voucherStatus.name}}</h6> <h6> VOUCHER DATE :  {{voucher1.voucherDate}}</h6></td>
             
            </tr>
            <tr class=" col-sm-6 col-12">
              <td><h6>NARRATION :  {{voucher1.voucherNarration}}</h6></td>
            </tr>
        </div>
        
        <div class="card table-list-card">
          <div class="card-body">
            <div class="page-wrapper p-0 m-0">
              <div class="content p-0">
                <!-- <div class="page-header border-0 custom-modal-header">
                  <div class="add-item new-sale-items d-flex">
                    <div class="page-header">
                      <h4>Sales New Voucher</h4>
                    </div>
                  </div>
                </div> -->
                <div class="card">
                  <div class="card-body">
                    <!-- <form> -->
                      <div class="row">
                        
                      </div>
                      <div class="table-responsive no-pagination">
                        <table class="table  datanew">
                          <thead style="background-color: chartreuse;">
                            <tr >
                              <!-- <th>#</th> -->
                              <th>SUPPLIER NAME</th>
                              <th>ACCOUNT</th>
                              <th>NARRATION</th>
                              <th>DOCS.</th>
                              <th>DEBIT</th>
                              <th>CREDIT</th>
                              <th>BOOK NO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of voucher1.voucherEntries">
                              <td>{{data.branch.name}}</td>
                              <td>
                                <!-- {{data.account.formattedCode}}- -->
                                {{data.account.accountName}}</td>
                              <td>{{data.narration}}</td>
                              <td></td>
                              <td>{{data.debit}}</td>
                              <td>{{data.credit}}</td>
                              <td>{{data.recBookNumber}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="4"><strong>Total</strong></td>
                              <td><strong>{{ totalDebit }}</strong></td>
                              <td><strong>{{ totalCredit }}</strong></td>
                              <td></td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <div class="col-lg-12 text-end">
                        <button type="button" class="btn btn-cancel warninig add-cancel me-3"
                        data-bs-dismiss="modal" id="close1">POST VOUCHER</button>
                        <button type="submit" class="btn btn-submit add-sale" (click)="edit(voucher1)" >EDIT VOUCHER</button>
                      </div>
                    <!-- </form> -->
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div> 
      </form>
    </div>
  </div>
</div>