<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
          <h4>Monshies List</h4>
          <h6>Manage Your monshi</h6>
        </div>
      </div>
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
          <div class="dataTables_filter">
            <label>
              <input [(ngModel)]="searchQuery" placeholder="Search by name" (input)="filterByName()" 
              [ngModelOptions]="{standalone: true}"  type="search" class="form-control"  />
              </label>
            </div>
          </div>
        </div>
      <ul class="table-top-head">
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
          src="assets/img/icons/pdf.svg" alt="img"></a>
        </li>
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
          src="assets/img/icons/excel.svg" alt="img"></a>
        </li>
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
          class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
        </li>
        <li>
          <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
          class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
        </li>
        <li>
          <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Collapse"
            matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
            <i class="feather icon-chevron-up feather-chevron-up"></i>
          }
          @if (isCollapsed) {
            <i class="feather icon-chevron-down feather-chevron-down"></i>
          }</a>
        </li>
      </ul>
      <div class="page-btn">
        <a href="javascript:void(0);" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-monshi"><i
        class="feather icon-plus-circle me-2"></i> Add New Monshi</a>
      </div>
</div>
<div  class="card table-list-card">
  
     <div class="table-responsive">
            <nz-table #ITableRef [nzData]="['*']" [nzFrontPagination]="false" class="table datanew" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>PHONE NO</th>
                        <th style="width: 10%;">ACCTION</th>
                    </tr>
                </thead>
                  <tbody>
                      <tr *ngFor="let m of filteredReport; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{m.name}}</td>
                            <td>{{m.address}}</td>
                            <td>{{m.mobile}}</td>
                           <td> <a href="javascript:void(0);" (click)="editMunshi(m)" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#add-monshi"><i class="feather icon-edit info-img"></i>Edit
                          Monshi</a></td>
                       </tr>
                  </tbody>   
            </nz-table>
    </div>
</div>

  <div class="modal fade" id="add-monshi">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="page-wrapper p-0 m-0">
          <div class="content p-0">
            <div class="page-header p-4 mb-0">
              <div class="add-item new-sale-items d-flex">
                <div class="page-title">
                  <h4>Edit Monshi</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>NAME <span class="required-span-color">*</span></label>
                        <input type="text" class="form-control" style="text-transform: uppercase;"
                        [(ngModel)]="obj.name" [ngModelOptions]="{standalone: true}"  />
                      </div>
                    </div>
                     <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>ADDRESS <span class="required-span-color">*</span></label>
                        <input type="text" class="form-control" style="text-transform: uppercase;"
                        [(ngModel)]="obj.address" [ngModelOptions]="{standalone: true}"  />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="input-blocks add-product">
                        <label>PHONE No <span class="required-span-color">*</span></label>
                        <input type="text" class="form-control" 
                        [(ngModel)]="obj.mobile" [ngModelOptions]="{standalone: true}"  />
                      </div>
                    </div>
                  </div>
                <div class="col-lg-12 text-end">
                  <button type="button" class="btn btn-cancel add-cancel me-3" (click)="cancel()"
                  data-bs-dismiss="modal" id="close" >Cancel</button>
                  <button type="submit" class="btn btn-submit add-sale" (click)="addMunshi()" >Submit</button>
                </div>
                </form>
                 </div>
               </div>
           </div>
        </div>