<div class="page-header">
    <h4>voucher list</h4>
    
   
  <ul class="table-top-head">
    
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
      src="assets/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
      src="assets/img/icons/excel.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
      class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
      class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
    </li>
    <li>
      <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
        id="collapse-header" matTooltip="Collapse"> @if (!isCollapsed) {
        <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
        <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
    </li>
    <div class="page-btn">
      <div class="search-path">
        <div class="d-flex align-items-center">
          <a class="btn btn-filter" id="filter_search" (click)="openFilter()"
           [ngClass]="{'setclose': filter === true}">
           <i class="feather icon-filter filter-icon"></i>
           <span><img src="assets/img/icons/closes.svg" alt="img"></span>
          </a>
         </div>
      </div>
    </div>
  </ul>

</div>
<div class="card table-list-card">
  <div class="card-body">      
     
        <div class="card" id="filter_inputs" [ngClass]="{'d-block': filter, 'd-none': !filter}">
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>Company <span class="required-span-color">*</span></label>
                  <nz-select
                    [(ngModel)]="obj.company.id"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Unit">
                    <nz-option nzLabel="All" nzValue="0"></nz-option>
                    <nz-option *ngFor="let c of getCompanies" [nzLabel]="c.name" [nzValue]="c.id"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>From Date <span class="required-span-color">*</span></label>
                  <input nz-input type="date" class="form-control" 
                  [(ngModel)]="obj.fromDate" [ngModelOptions]="{standalone: true}"  />
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>To Date <span class="required-span-color">*</span></label>
                  <input nz-input type="date" class="form-control" 
                  [(ngModel)]="obj.toDate" [ngModelOptions]="{standalone: true}"  />
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div  class="input-blocks add-product">
                  <label >Search By Date<span class="required-span-color">*</span> </label>
                      <mat-select [(ngModel)]="obj.searchByDate" [ngModelOptions]="{standalone: true}" name="status">
                        <mat-option [value]="'1'"> VOVCHER DATE</mat-option>
                        <mat-option [value]="'2'">CREATED DATE</mat-option>
                        <mat-option [value]="'3'">UPDATED DATE</mat-option>
                      </mat-select>
                </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>POSTED/UNPOSTED<span class="required-span-color">*</span> </label>
                      <mat-select [(ngModel)]="obj.postedUnPosted" [ngModelOptions]="{standalone: true}" >
                        <mat-option [value]="'2'">All</mat-option>
                        <mat-option [value]="'P'">POSTED</mat-option>
                        <mat-option [value]="'U'">UNPOSTED</mat-option>
                      </mat-select>
                </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-12">
                <div  class="input-blocks add-product">
                  <label >Voucher Type<span class="required-span-color">*</span> </label>
                      <mat-select [(ngModel)]="obj.voucherType.id" [ngModelOptions]="{standalone: true}" >
                        <mat-option [value]="'0'">ALL</mat-option>
                        <mat-option [value]="'BPV'"> BANK PAYMINTVOVCHER</mat-option>
                        <mat-option [value]="'BRV'">BANK RECEPIT VOUVHER</mat-option>
                        <mat-option [value]="'CPV'">CASH PAYMENT VOUCHER</mat-option>
                        <mat-option [value]="'CRV'">CASH RECEPIT VOUCHER</mat-option>
                        <mat-option [value]="'JV'">JOURNAL VOUCHRE</mat-option>
                        <mat-option [value]="'OJV'">ONLINE JOURNAL VOUCHRE</mat-option>
                      </mat-select>
                </div>
               </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>VOUCHER STATUS<span class="required-span-color">*</span></label>
                  <mat-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Type"
                   [(ngModel)]="obj.voucherStatus.id" [ngModelOptions]="{standalone: true}">
                    <mat-option [value]="'0'">BOTH</mat-option>
                    <mat-option [value]="'M'">1</mat-option>
                    <mat-option [value]="'S'">2</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>VOUCHER NO<span class="required-span-color">*</span></label>
                  <input class="form-control" [(ngModel)]="obj.voucherCode" [ngModelOptions]="{standalone: true}" type="text">
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks add-product">
                  <label>NARRATION<span class="required-span-color">*</span></label>
                  <input class="form-control" [(ngModel)]="obj.voucherNarration" [ngModelOptions]="{standalone: true}" type="text">
                </div>
              </div>
              <div class="col-lg-9 col-sm-6 col-12 text-end" style="margin-top: 3%;">
                <button type="submit" class="btn btn-submit add-sale" (click)="search()">SEARCH</button>
              </div>
            </div>
          </div>
        </div> 
        <div class="table-responsive">
          <table  class="table datanew">
            <thead>
              <tr>
                <th>#</th>
                <th>VOUCHER NO.</th>
                <th>VOUCHER DATE</th>
                <th>CREATED AT</th>
                <th>UPDATED AT</th>
                <th>VOUCHER AMOUNT</th>
                <th>USER NAME</th>
                <th>P/U</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of voucher.voucherDetailList ; let i=index">
                <td>{{i+ 1}}</td>
                <td>{{data.voucherCode}}</td>
                <td>{{data.voucherDate | date:'dd/MM/yyyy'}}</td>
                <td>{{data.createdAt | date:'dd/MM/yyyy'}} <br>{{data.createdAt | date:'hh:mm a'}}</td>
                <td>{{data.updatedAt | date:'dd/MM/yyyy'}} <br>{{data.updatedAt | date:'hh:mm a'}}</td>
                <td>{{data.voucherAmount}}</td>
                <td>{{data.userName}}</td>
                <td><span class="badges" [ngClass]="{
                  'status-badge': data.postedUnPosted === 'P',
                  'unstatus-badge': data.postedUnPosted !== 'p'
                }">
                  {{ data.postedUnPosted === 'P' ? 'P' : 'U' }}
                </span></td>
                <td class="action-table-data">
                  <div class="edit-delete-action">
                  <a class="me-2 p-2 mb-0" href="javascript:void(0);" (click)="viwoVoucher(data.id)" class="btn btn-added underline">
                    <i class="feather icon-eye action-eye"></i>
                  </a>
                </div>
              </td>
              </tr>
        </tbody>
      </table>
        </div>
    
  
</div>
<a data-bs-toggle="modal" id="voucher-view" data-bs-target="#11-voucher"></a>
      
<div class="modal fade" id="11-voucher" aria-labelledby="editpayment" aria-hidden="true">
  <div class="modal-dialog add-centered">
    <div class="modal-content">
      <div class="card">
            <div class="card-body">
              <form >
                <div class="row p-3 rounded mb-4">
                  <div class="col-12 d-flex justify-content-between align-items-center">
                    <h4 class="text-center text-warning mb-0">VOUCHER DETAEIL</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row "  style="margin-left: 10px;">
                    <tr class=" col-sm-6 col-12" style="margin-top:4px ;margin-bottom: 4px;">
                    
                     <td><h6>VOUCHER TYPE : </h6> <h6> VOUCHER NO : </h6>
                       <h6>FINANCIAL YEAR :</h6></td>
                     
                    
                    
                    </tr>
                    <tr class=" col-sm-6 col-12" style="margin-top:4px ;">
                      <td><h6>VOUCHER STATUS : </h6> <h6> VOUCHER DATE :</h6></td>
                     
                
                    
                    </tr>
                </div>
                
                <div class="card table-list-card">
                  <div class="card-body">
                    <div class="page-wrapper p-0 m-0">
                      <div class="content p-0">
                        <div class="card">
                          <div class="card-body">
                              <div class="row">
                                
                              </div>
                              <div class="table-responsive no-pagination">
                                <table class="table  datanew">
                                  <thead>
                                    <tr>
                                      <th>SUPPLIER NAME</th>
                                      <th>ACCOUNT</th>
                                      <th>	NARRATION</th>
                                      <th>DOCS.</th>
                                      <th>DEBIT</th>
                                      <th>CREDIT</th>
                                      <th>BOOK NO.</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr >
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                
                               <!-- <div class="row">
                                <div class="col-lg-6 ms-auto" style="margin-right: 25px;">
                                  <div class="total-order w-100 max-widthauto m-auto mb-4">
                                    <ul>
                                      <li>
                                        <h4>MILL TAX(-)</h4>
                                        <h5>{{voucher.itemStock.millTaxRate}}</h5>
                                        <h5>{{voucher.itemStock.millTaxAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>BANK TAX(-)</h4>
                                        <h5>{{voucher.itemStock.bankTaxRate}}</h5>
                                        <h5>{{voucher.itemStock.bankTaxAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>SILAI(+)</h4>
                                        <h5>{{voucher.itemStock.silaiRate}}</h5>
                                        <h5>{{voucher.itemStock.silaiAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>BARDANA(+)</h4>
                                        <h5>{{voucher.itemStock.bardanaRate}}</h5>
                                        <h5>{{voucher.itemStock.bardanaAmount}}</h5>
                                      </li>
                                      <li>
                                        <h4>LABOUR CHARGES(+)</h4>
                                        <h5>{{voucher.itemStock.unloadingRate}}</h5>
                                        <h5>{{voucher.itemStock.unloadingCharges}}</h5>
                                      </li>
                                      <li>
                                        <h4>OTHER EXPANCES(+)</h4>
                                        <h5></h5>
                                        <h5>{{voucher.itemStock.otherExp}}</h5>
                                      </li>
                                      <li>
                                        <h4>CARRIAGE CHARGES(-)</h4>
                                        <h5></h5>
                                        <h5>{{voucher.itemStock.freightCharges}}</h5>
                                      </li>
                                      <li>
                                        <h4>NET AMOUNT</h4>
                                        <h5>$ 0.00</h5>
                                        <h5>{{voucher.itemStock.netAmount}}</h5>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div> -->
                
                              <div class="col-lg-12 text-end">
                                <button data-bs-dismiss="modal" id="closeview" type="submit" class="btn btn-submit add-sale">Cancel</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div> 
              </form>
            </div>
      </div>
    </div>
  </div>
</div> 